body {
    background-color: #d9ebf3;
    line-height: 1;
    color: black;
  }
  
  .welcome {
    text-align: center;
  }
  
  .thanks {
    text-align: center;
    font-size: 30px;
    color: green;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .actionButtons {
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    text-align: left;
    font-size: 35px;
  }
  
  label {
    display: inline;
  }
  
  h3,
  #next {
    margin-left: 5%;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
  }
  
  #result {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #036;
  }
  
  input[name="option"] {
    float: left;
  }
  
  #form div {
    margin-left: 10%;
    max-width: 205px;
  }
  
  #container {
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 1em;
    background-color: #5672f9;
    text-decoration: none !important;
    color: white !important;
  }
  
  #back {
    color: blue !important;
    background-color: white;
  }
  
  textarea {
    height: 80px;
    width: 230px;
  }
  